header{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.header-left h1{
    line-height: 100px;
    font-weight: bold;
    font-size: 3rem;
}
.header-left h1 span, .header-left h6{
    color: #FFA500;
    line-height: 50px;
}
.header-left h6{
    font-size: 1.3rem;
    font-weight: bold;
}
.hire-btn{
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none!important;
    color: white;
    padding: 5px 15px;
    background:linear-gradient(to top, rgba(238, 104, 89, 0.5) ,rgba(199, 100, 89,1));
}
.dream-container{
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.dream-text h6{
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFA500;
    line-height: 50px;
}
.experience-container{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    @media screen and (max-width: 600px) {
       background-size: 30px 30px;
       
      }
}
.experience-card{
    background-color: white;
    box-shadow: 0 0 20px gray;
    padding: 30px;
    flex: 1;
    border-left: 8px solid;
    border-image:
    linear-gradient(to top,rgba(250, 128, 114, 0.596), rgba(204, 120, 111, 1)) ;
    border-image-slice: 1;
    margin-bottom: 150px;
    border-radius: 5px; 
}
.experience-junior{
    border-left: 8px solid;
    border-image: linear-gradient(to top, rgba(216, 105, 105, 0.555), rgba(201, 112, 77, 0.719));
    border-image-slice: 1;
    margin-left: 3rem;
}
@media screen and (max-width: 600px) {
    .experience-card {
      width: 100%;
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
@media screen and (max-width: 600px) {
    .header-left { 
      margin-bottom: 60px;
    }
}
@media screen and (max-width: 600px) {
    .dream-container { 
        background-position: right bottom;
    }
}
